@model IEnumerable<HRdepartment.Models.Department>

@{
    ViewData["Title"] = "Отделы";
}

<p>
    <a asp-action="Create">Создать отдел</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Название отдела
            </th>
            <th>
                Телефон
            </th>
            <th>
                Начальник
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Head_Department)
            </td>
            <td>

                    <a asp-action="Edit" asp-route-id="@item.Department_Id" style="color: #1a4e87">Редактирование</a> |
                    <a asp-action="Details" asp-route-id="@item.Department_Id" style="color: #1a4e87">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Department_Id" style="color: #e84545">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
